*
{
	font-family: 'Lato' !important;
}
.form-control.focus, .form-control:focus
{
	outline: none;
}
.checkbox-custom input[type=radio]:focus+label::before, 
.checkbox-custom input[type=checkbox]:focus+label::before
{
	outline: 0;
    outline-offset: 0;
}
.hidden
{
	display: none;
}
a
{
	font-size: 13px;
    font-weight: 200;
    color: #4397e6;
}
.site-menu-icon, .icon
{
	font-family: 'Web Icons' !important;
}
.panel-title
{
	font-weight: 200;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.line
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 1px;
}
.input-group input
{
	font-size: 12px;
}
.form-buttons button
{
	margin-right: 10px;
}
.modal-body
{
	margin-bottom: 0;
}